<!--The content below is only a placeholder and can be replaced.-->
 <div class="wrapper">
  <div style="text-align:center">
    <h1>{{ title }}</h1>
  </div>
  <div class="submit_cake">
    <h4>Submit a cake to be rated</h4>
    <form (submit) = "addCake()">
    Baker's Name: <input type="text" name="addCake['baker']" [(ngModel)]= "addCake['baker']" />
    Image url: <input type="text" name="addCake['img']" [(ngModel)]= "addCake['img']" />
    <input type="submit">
    </form>
  </div>

  <div class="rate_cakes">
      <div *ngFor = "let cake of cakes">
        <img class="cake_photo" [src]="cake['img']" (click)="oneCake(cake._id)" />
        <form #cakeForm="ngForm" (submit)="addRating(cake._id, cakeForm)">
          <select name="rating" class="form-control" ngModel>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
          </select>
          <input name="comment" class="form-control" ngModel type="text" value="Type your comment here">
          <input type="submit" value="Rate Cake">
        </form>
      </div>
  </div>




  <div class="show_cake">
    <h2 *ngIf="showCake['baker']">{{showCake['baker']}}</h2>
    <img class="cake_photo" *ngIf="showCake['img']" [src]="showCake['img']" alt="cake_img">
    <div clas="cake_info">
      <p>Average rating:</p>
      <!-- <p *ngIf="showCake.rating['comment']">{{showCake.rating.comment}}</p>
      <p *ngIf="showCake.rating['rate']">{{showCake.rating.rate}} stars</p> -->
    </div>
  </div>
</div>
