<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}</h1>
</div>
<h4>Submit a cake to be reated</h4>
<form>
Baker's Name: <input>
Image url: <input>
<input type="submit">
</form>

<div class="rate_cakes">
  <ul>
    <li *ngFor = "let cake of cakes">
      <button><img src="{{cake.img}}}"></button>
      <form (submit) = "addRating()">
        <select name="showCake.rating.rate" [(ngModel)]="showCake.rating.rate" >
          <option value="5">5
          <option value="4">4
          <option value="3">3
          <option value="2">2
          <option value="1">1
        </select>
        <input name="showCake.rating.comment" [(ngModel)]="showCake.rating.comment" value="Type your comment here">
        <input type="submit" value="Rate Cake" />
      </form>
    </li>
  </ul>
</div>


<div class="show_cake">
  <h2 *ngIf="showCake['baker']">{{showCake.baker}}</h2>
  <img *ngIf="showCake['img']" src="{{showCake.img}}" alt="cake_img">
  <div clas="cake_info">
    <p>Average rating:</p>
    <p *ngIf="showCake.rating['comment']">{{showCake.rating.comment}}</p>
    <p *ngIf="showCake.rating['rate']">{{showCake.rating.rate}} stars</p>
  </div>
</div>
